.App {
  text-align: center;
}

.avatar-moving {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.avatar {
  height: 20px;
}
.profile {
  height: 120px;
  display: inline-block;
}
.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
